body, html {
background-color: black;
margin: 0 auto;
}

.container{
width: 960px;
margin: 0 auto;
}

.header{
width: 960px;
height: 50px;
background-color: #83a0c6;
}

.header_top {
width: 960px;
height: 200px;
display: flex;
background-color: #57718e;
}

.header_bottom {
width: 960px;
height: 200px;
display: flex;
background-color: #57718e;
}

.content{
width: 960px;
height: 200px;
display: flex;
background-color: #57718e;    
}

.content1{
width: 960px;
height: 50px;
display: flex;
background-color: #57718e;    
}

.content2{
width: 960px;
height: 80px;
background-color: #57718e;    
}

.footer{
margin-top:-3.3px;
width: 960px;
height: 50px;
display: flex;
background-color: #57718e;    
}

.content2 p {
color:#fff;
font: 1.5em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 20px;
margin-top: 30px;
}

.content2 p1 {
color:#fff;
font: 1.5em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 820px;
margin-top: 30px;
}

.header p1 {
color:#fff;
font: 1.5em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 20px;
margin-top: 10px;
}

.cont{
width: 160px;
height: 50px;
background-color: #57718e;
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}

.cont p {
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

.cont2 p {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

.cont3 p {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

.cont4 p {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 45px;
margin-top: 20px;
}

.cont5 p {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 55px;
margin-top: 20px;
}

.cont6 p {
color:#ccc;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 55px;
margin-top: 20px;
}

.cont6 p1 {
color:#aaeaf1;
font: 1em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 105px;
margin-top: 18px;
}

.cont2{
width: 160px;
height: 50px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}

.cont3{
width: 160px;
height: 50px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}

.cont4{
width: 160px;
height: 50px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}

.cont5{
width: 160px;
height: 50px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}

.cont6{
width: 150px;
height: 50px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}

.row1{
width: 192px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}
    
.row1 p {
color:#fff;
font: 1em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}
    
.row1 p1 {
color:#fff;
font: 3.5em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 5px;
}

.row1 p2 {
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 10px;
margin-top: 10px;
}

.row1 p3 {
color:#aaeaf1 ;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -100px;
margin-top: 120px;
}

.row1 hr { 
display: block;
width: 20px;
position: absolute;
margin-left: 79px;
margin-top: 30px;
border-style: solid;
border-width: 3px;
border-color:#aaeaf1;
} 

.row1 hr2 { 
display: block;
width: 20px;
position: absolute;
margin-left: 105px;
margin-top: 30px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}

.row1 hr3 { 
display: block;
width: 20px;
position: absolute;
margin-left: -54px;
margin-top: -3px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}

.row1 hr4 { 
display: block;
width: 10px;
position: absolute;
margin-left: 28px;
margin-top: -7.3px;
border-style: solid;
border-color:#fff;
transform: rotate(90deg);
}

.row2{
width: 192px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}
        
.row2 p {
color:#fff;
font: 1em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}
        
.row2 p1 {
color:#fff;
font: 3.5em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 15px;
margin-top: 53px;
}
    
.row2 p2 {
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 130px;
margin-top: 65px;
}
    
.row2 p3 {
color:#aaeaf1 ;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 15px;
margin-top: 170px;
}
    
.row2 hr { 
display: block;
width: 20px;
position: absolute;
margin-left: 79px;
margin-top: 150px;
border-style: solid;
border-width: 3px;
border-color:#aaeaf1;
} 
    
.row2 hr2 { 
display: block;
width: 20px;
position: absolute;
margin-left: 105px;
margin-top: 150px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
    
.row2 hr3 { 
display: block;
width: 20px;
position: absolute;
margin-left: -54px;
margin-top: -3px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
    
.row2 hr4 { 
display: block;
width: 10px;
position: absolute;
margin-left: 28px;
margin-top: -7.3px;
border-style: solid;
border-color:#fff;
transform: rotate(90deg);
}

.row9{
width: 192px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-left: 2px outset #597491;
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
}
        
.row9 p {
color:#fff;
font: 1em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}
                    
.row9 p1 {
color:#ccc;
font: 3.5em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 5px;
}
                
.row9 p2 {
color:#ccc;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 10px;
margin-top: 10px;
}
                
.row9 p3 {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -115px;
margin-top: 118px;
}
                
.row9 hr { 
display: block;
width: 20px;
position: absolute;
margin-left: 5px;
margin-top: 30px;
border-style: solid;
border-width: 3px;
border-color:#aaeaf1;
} 
                
.row9 hr2 { 
display: block;
width: 20px;
position: absolute;
margin-left: 150px;
margin-top: 30px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
                
.row9 hr3 { 
display: block;
width: 20px;
position: absolute;
margin-left: -54px;
margin-top: -3px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
        
.row9 hr4 { 
display: block;
width: 20px;
position: absolute;
margin-left: -54px;
margin-top: -3px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
        
.row9 hr5 { 
display: block;
width: 10px;
position: absolute;
margin-left: -30px;
margin-top: -7.3px;
border-style: solid;
border-color:#fff;
transform: rotate(90deg);
}
    
.row4{
width: 192px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-left: 2px outset #597491;
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
}
    
.row4 p {
color:#fff;
font: 1em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}
                
.row4 p1 {
color:#ffffff;
font: 3.5em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 5px;
}
            
.row4 p2 {
color:#ffffff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 10px;
margin-top: 10px;
}
            
.row4 p3 {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -80px;
margin-top: 118px;
}
            
.row4 hr { 
display: block;
width: 20px;
position: absolute;
margin-left: 5px;
margin-top: 30px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
} 
            
.row4 hr2 { 
display: block;
width: 20px;
position: absolute;
margin-left: 150px;
margin-top: 30px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
            
.row4 hr3 { 
display: block;
width: 20px;
position: absolute;
margin-left: -54px;
margin-top: -3px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
    
.row4 hr4 { 
display: block;
width: 20px;
position: absolute;
margin-left: -54px;
margin-top: -3px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
    
.row4 hr5 { 
display: block;
width: 10px;
position: absolute;
margin-left: -44px;
margin-top: -7.3px;
border-style: solid;
border-color:#fff;
transform: rotate(90deg);
}

.row5{
width: 192px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-left: 2px outset #597491;
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
}
    
.row5 p {
color:#fff;
font: 1em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}
                    
.row5 p1 {
color:#ffffff;
font: 3.5em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 5px;
}
                
.row5 p2 {
color:#ffffff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 10px;
margin-top: 10px;
}
                
.row5 p3 {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -60px;
margin-top: 118px;
}
                
.row5 hr { 
width: 20px;
position: absolute;
margin-left: 5px;
margin-top: 30px;
border-style: solid;
border-width: 3px;
border-color:#aaeaf1;
} 
                
.row5 hr2 { 
width: 20px;
position: absolute;
margin-left: 80px;
margin-top: 94px;
border-style: solid;
border-width: 3px;
border-color:#80abcc;
}
                
.row5 hr3 { 
display: block;
width: 20px;
position: absolute;
margin-left: -54px;
margin-top: -3px;
border-style: solid;
border-width: 3px;
border-color:#aaeaf1;
}
        
.row5 hr4 { 
display: block;
width: 20px;
position: absolute;
margin-left: -54px;
margin-top: -3px;
border-style: solid;
border-width: 3px;
border-color:#aaeaf1;
}
        
.row5 hr5 { 
display: block;
width: 10px;
position: absolute;
margin-left: 94px;
margin-top: -7.3px;
border-style: solid;
border-color:#fff;
transform: rotate(90deg);
}

.row5 i {
border: solid#aaeaf1;
border-width: 0 10px 10px 0;
display: inline-block;
margin: 5px;
padding: 5px;
margin-left: 60px;
margin-top: -50px;
}
    
.row5 .down {
position: absolute;
margin-left: 145.2px;
margin-top: 40px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
    
.row5 .vl {
border-left: 6px solid #aaeaf1;
height: 30px;
position: absolute;
margin-left: 151.7px;
margin-top: 19px;
}

.row6{
width: 383px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}
 
.row6 p{
color:#fff;
font: 1em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}

.row6 p2{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 10px;
margin-top: -10px;
}

.row6 p3{
color:#fff;
font: 1em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 40px;
margin-top: 25px;
}

.row6 p4{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 200px;
margin-top: -62px;
}

.row6 p5{
color:#fff;
font: 1em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 210px;
margin-top: 55px;
}

.row6 p6{
color:#fff;
font: 1em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 210px;
margin-top: -25px;
}

.row6 hr{
width:130px;
color: solid #08273c;
border-color: #08273c;
position: absolute;
margin-top: 23px;
margin-left: 10px;
}

.row6 hr1 { 
display: block;
width: 5px;
position: absolute;
margin-left: 65px;
margin-top: 35px;
border-style: solid;
border-width: 1px;
border-color:#fff;
}

.row6 hr2 { 
display: block;
width: 5px;
position: absolute;
margin-left: 165px;
margin-top: -45px;
border-style: solid;
border-width: 1px;
border-color:#fff;
}

.row7{
width: 190px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}

.row7 p{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}

.row7 p2{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}

.row7 p3 {
color:#cccccc;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -150px;
margin-top: 30px;
}

.row7 p4{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -150px;
margin-top: 80px;
}

.row7 p5{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -150px;
margin-top: 120px;
}

.row8{
width: 380px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;
}

.row8 p{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
margin-left: 10px;
margin-top: 20px;
}

.row8 p2{
color:#fff;
font: 1.5em sans-serif;
font-weight: bold;
position: absolute;
margin-top: -30px;
margin-left: 290px;
}

.row8 p3{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-top: -30px;
margin-left: 330px;
}

.row8 p4{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-top: 30px;
margin-left: -350px;
}

.row8 p5{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-top: 54px;
margin-left: -350px;
width:330px;
height:30px;
background-color: #6682a3;
}

.row8 p6{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-top: 89px;
margin-left: -350px;
width:330px;
height:30px;
background-color: #6682a3;
}

.content .row1{
width: 160px;
height: 196px;   
}

.content .row2{
width: 600px;
height: 196px;   
}

.content .row3{
width: 200px;
height: 196px;
background-color: #57718e;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-bottom: 2px solid #597491;
border-top:  2px solid  #597491;
border-right:  2px solid  #597491;   
}

.content p{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
margin-left: 30px;
margin-top: -170px;
}

.content p2{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
margin-left: 105px;
margin-top: -28px;
}

.content p3{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
margin-left: 25px;
margin-top: -10px;
}

.content p4{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
margin-left: 25px;
margin-top: 50px;
}

.content p5{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -30px;
margin-top: 40px;
}

.content p6{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -30px;
margin-top: 80px;
}

.content p7{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: -30px;
margin-top: 110px;
}

.content p8{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 50px;
margin-top: -10px;
}
    
.content p9{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 50px;
margin-top: 6px;
}
    
.content p10{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 50px;
margin-top: 40px;
}
    
.content p11{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 50px;
margin-top: 80px;
}
    
.content p12{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 50px;
margin-top: 110px;
}

.content p13{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 350px;
margin-top: 10px;
}

.content p14{
color:#aaeaf1;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 350px;
margin-top: 25px;
}

.content p15{
color:#fff;
font: 1.3em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 385px;
margin-top: 10px;
}

.content p16{
color:#fff;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 410px;
margin-top: 10px;
}

.content p17{
color:#fff;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 460px;
margin-top: 10px;
}

.content p18{
color:#aaeaf1;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 460px;
margin-top: 25px;
}

.content p19{
color:#fff;
font: 1.3em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 495px;
margin-top: 10px;
}

.content p20{
color:#fff;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 520px;
margin-top: 10px;
}

.content p21{
color:#fff;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 310px;
margin-top: 180px;
}

.content p22{
color:#fff;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 400px;
margin-top: 180px;
}

.row2 p{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 30px;
margin-top: 20px;
}

.row3 p{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 30px;
margin-top: 20px;
}

.row3 p1{
color:#fff;
font: 1.3em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 100px;
margin-top: 20px;
}

.row3 p2{
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 125px;
margin-top: 20px;
}

.row3 p3{
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 140px;
margin-top: 20px;
}

.row3 p4{
color:#aaeaf1;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 20px;
margin-top: 160px;
}

.row3 p5{
color:#fff;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 90px;
margin-top: 160px;
}

.row3 p6{
color:#fff;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 130px;
margin-top: 160px;
}

.row3 p7{
color:#aaeaf1;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 100px;
margin-top: 160px;
}

.row3 p8{
color:#aaeaf1;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 100px;
margin-top: 180px;
}

.row3 p9{
color:#aaeaf1;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 140px;
margin-top: 160px;
}
    
.row3 p10{
color:#aaeaf1;
font: 0.6em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 140px;
margin-top: 180px;
}

.lock {
font-size: 1.5px;
position: relative;
width: 10em;
height: 13em;
border-radius: 2em;
top: 10em;
box-sizing: border-box;
border: 3.5em solid #aaeaf1;
border-right-width: 7.5em;
border-left-width: 7.5em;
margin-top: 30px;
margin-left: 10px;
}
  
.lock:before {
content: "";
box-sizing: border-box;
position: absolute;
border: 2.5em solid #aaeaf1;
width: 14em;
height: 12em;
left: 50%;
margin-left: -7em;
top: -12em;
border-top-left-radius: 7em;
border-top-right-radius: 7em;
}

.lock:after {
content: "";
box-sizing: border-box;
position: absolute;
border: 1em solid #aaeaf1;
width: 5em;
height: 8em;
border-radius: 2.5em;
left: 50%;
top: -1em;
margin-left: -2.5em;
}

.lock1 {
font-size: 1.5px;
position: relative;
width: 10em;
height: 13em;
border-radius: 2em;
top: 10em;
box-sizing: border-box;
border: 3.5em solid #aaeaf1;
border-right-width: 7.5em;
border-left-width: 7.5em;
margin-top: 10px;
margin-left: 10px;
}
      
.lock1:before {
content: "";
box-sizing: border-box;
position: absolute;
border: 2.5em solid #aaeaf1;
width: 14em;
height: 12em;
left: 50%;
margin-left: -7em;
top: -12em;
border-top-left-radius: 7em;
border-top-right-radius: 7em;
}
    
.lock1:after {
content: "";
box-sizing: border-box;
position: absolute;
border: 1em solid #aaeaf1;
width: 5em;
height: 8em;
border-radius: 2.5em;
left: 50%;
top: -1em;
margin-left: -2.5em;
}

.glass {
font-size: 1.5em;
display: inline-block;
width: 0.4em;
box-sizing: content-box;
height: 0.4em;
border: 0.2em solid #aaeaf1;
position: absolute;
border-radius: 0.85em;
margin-left: 90px;
margin-top: -10px;
}

.glass2 {
font-size: 1.5em;
display: inline-block;
width: 0.4em;
box-sizing: content-box;
height: 0.4em;
border: 0.2em solid #aaeaf1;
position: absolute;
border-radius: 0.85em;
margin-left: 90px;
margin-top: -50px;
}

.glass3 {
font-size: 1.5em;
display: inline-block;
width: 0.4em;
box-sizing: content-box;
height: 0.4em;
border: 0.2em solid #aaeaf1;
position: absolute;
border-radius: 0.85em;
margin-left: 90px;
margin-top: -90px;
}

.foo{
width: 160px;
height:50px;
background-color: #88bcdb;
border-right:  2px solid  #597491;
}

.foo2{
width: 160px;
height:50px;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-right:  2px solid  #597491;
}

.foo3{
 width: 160px;
height:50px;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-right:  2px solid  #597491;
}

.foo4{
width: 160px;
height:50px;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-right:  2px solid  #597491;
}

.foo5{
width: 160px;
height:50px;
background-image: linear-gradient(rgb(187, 198, 218), #597491);
border-right:  2px solid  #597491;
}

.foo6{
width: 160px;
height:50px;
border-right:  2px solid  #597491;
}

.foo p {
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

.foo p1 {
color:#597491;
font: 1em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 135px;
margin-top: 20px;
}

.foo2 p {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

.foo3 p {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

.foo4 p {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

.foo5 p {
color:#aaeaf1;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

.foo6 p {
color:#fff;
font: 0.8em sans-serif;
font-weight: bold;
position: absolute;
margin-left: 35px;
margin-top: 20px;
}

img{
margin-top:-5px;
}

a{
text-decoration: none;
}